
.mat-form-field + .mat-form-field {
    margin-left: 8px;
    

  }
  mat-grid-list {
    width: 100%;
  }

  mat-expansion-panel{
    
      width:50%;
      justify-content: center;
      align-items: center;
      
  }
  
 